! special
*.foreground:   #ffffff
*.background:	#000000
*.cursorColor:  #ffffff

! black
*.color0:       #222222
*.color8:       #333333

! red
*.color1:       #601809
*.color9:       #601809

! green
*.color2:       #883322
*.color10:      #883322

! yellow
*.color3:       #ab5341
*.color11:      #ab5341

! blue
*.color4:       #d18170
*.color12:      #d18170

! magenta
*.color5:       #ab5341
*.color13:      #ab5341

! cyan
*.color6:       #883322
*.color14:      #883322

! white
*.color7:       #ffffff
*.color15:      #ffffff

! XTerm Shite
XTerm*renderFont: true
XTerm*selectToClipboard: true
XTerm*faceName: Hack Nerd Font Mono
XTerm*faceSize: 12
XTerm*coldMode: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

! URxvt Shite
URxvt*font: xft:Hack Nerd Font Mono:size=12
URxvt*selectToClipboard: true
URxvt*keysym.BackSpace: \177
URxvt*ptyInitialErase: 0x7f
URxvt.keysym.M-Down:        \033[1;3B 
URxvt.keysym.M-Up:          \033[1;3A 
URxvt.keysym.M-Left:        \033[1;3D 
URxvt.keysym.M-Right:       \033[1;3C
URxvt.keysym.Control-Up:   \033[1;5A 
URxvt.keysym.Control-Down:    \033[1;5B 
URxvt.keysym.Control-Left:    \033[1;5D 
URxvt.keysym.Control-Right:    \033[1;5C
URxvt.scrollBar: false
